*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    position: relative;
    height: 100%;
    width: 100%;
}
.allElems{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: var(--padding-2xl);
}
.elem{
    height: 300px;
    width: 250px;
    /* background-color: red; */
    border-radius: var(--border-radius-4xl);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}
.elem:hover{
    scale: 0.95;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
     pointer-events: none;
}
.elem h3{
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 1.7rem;
    color: var(--bg-primary-color);
    font-weight: 600;
}

/* * full elems wala page  */
.fullelems{
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--padding-2xl);
    height: 100%;
    width: 100%;
    background-color: var(--bg-active-color);
    display: none;
}
.fullelems h2{
    color: var(--text-secondary-color);
}
/* * close btn */
.fullelems .close-btn{
    position: absolute;
    right: 5%;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    background-color: var(--bg-hover-color);
    color: var(--text-hover-color);
    border: none;
    border-radius: var(--border-radius-2xl);
    cursor: pointer;
}

/* * todo full page wala */
.todo-container{
    margin-top: 1rem;
    width: 100%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-task{
    width: 33%;
    height: 100%;
    background-color: var(--bg-primary-color);
    border-radius: var(--border-radius-lg);
    overflow: auto;
}
/* *form wala */
.add-task form{
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
    gap: 20px;
}
.add-task form input{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--bg-active-color);
    color: var(--bg-primary-color);
    font-size: 1rem;
    border-radius: var(--border-radius-md);
}
.add-task form textarea{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--bg-active-color);
    color: var(--bg-primary-color);
    font-size: 1rem;
    border-radius: var(--border-radius-md);
}
.add-task form button{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--bg-secondary-color);
    color: var(--bg-active-color);
    font-size: 1rem;
    border-radius: var(--border-radius-md);
}

/* * all task wala */
.all-task{
    width: 65%;
    height: 100%;
    background-color: var(--bg-primary-color);
    border-radius: var(--border-radius-lg);
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
}
.all-task .task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: var(--padding-md);
    background-color: var(--bg-active-color);
    border-radius: var(--border-radius-lg);
    margin-bottom: 10px;
}
.all-task .task h2{
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--bg-primary-color);
}

.task-inner p{
    color: var(--bg-primary-color);
}
.all-task .task button{
    padding: 10px 30px;
    border-radius: var(--border-radius-lg);
    background-color: var(--bg-secondary-color);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    white-space: nowrap;
}
.all-task .task button:hover{
    scale: 0.95;
}

/* * daily planner fullpage  */
.daily-planner-full{
    margin-top: var(--margin-lg);
width: 100%;
height: 95%;
background-color:var(--bg-primary-color);
border-radius: var(--border-radius-lg);
padding: var(--padding-lg);
 display: flex;
 flex-wrap: wrap;
 align-items: flex-start;
 justify-content: space-between;
 overflow: auto;

}
.timer{
    width: 49%;
    margin-bottom: var(--margin-sm);
    position: relative;
   
}
.timer p{
    position: absolute;
    left: 2%;
    top: 3%;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: var(--bg-primary-color);

}
.timer input{
    width: 100%;
    padding:30px 30px 10px 30px;
    background-color: var(--bg-active-color);
    border-radius: var(--border-radius-lg);
    color: var(--bg-primary-color);
    border: none;
    outline: none;
    font-size: 1.3rem;
}

/* *motivatonal wala full page */
.motivation-container{
    height: 95%;
    width: 100%;
    margin-top: var(--margin-lg);
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.motivatoin-wrapper{
    width: 40%;
    position: relative;
    background-color: var(--bg-primary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
}
.motivatoin-wrapper p{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.motivatoin-wrapper h3{
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    bottom: 5%;
    background-color: var(--bg-hover-color);
    color: var(--bg-primary-color);
    padding: 10px 20px;
    border-radius: var(--border-radius-lg);
}


/* * pomadoro timer wala */

.pomadoro-timer{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
background-color: white;
padding: var(--padding-2xl);
border-radius: var(--border-radius-lg);
}
.pomadoro-timer h1{
    
    font-size: 10rem;
}
.pomadoro-timer button{
    padding: 10px 25px;
    background-color: var(--bg-hover-color);
    color: var(--bg-primary-color);
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: var(--border-radius-lg);
    box-shadow: 5px 5px 0px black;
    margin-right: 1rem;
    transition: all 0.3s;
}
.pomadoro-timer button:hover{
    box-shadow: 0px 0px 0px black;
    scale: 0.95;
}


/* *daily goals */
.daily-container{
    margin-top: 1rem;
    width: 100%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.daily-task{
    width: 33%;
    height: 100%;
    background-color: var(--bg-primary-color);
    border-radius: var(--border-radius-lg);
    overflow: auto;
}
/* *form wala */
.daily-task form{
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
    gap: 20px;
}
.daily-task form input{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--bg-active-color);
    color: var(--bg-primary-color);
    font-size: 1rem;
    border-radius: var(--border-radius-md);
}
.daily-task form textarea{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--bg-active-color);
    color: var(--bg-primary-color);
    font-size: 1rem;
    border-radius: var(--border-radius-md);
}
.daily-task form button{
    padding: 15px 25px;
    border: none;
    outline: none;
    background-color: var(--bg-secondary-color);
    color: var(--bg-active-color);
    font-size: 1rem;
    border-radius: var(--border-radius-md);
}

/* * all task wala */
.daily-all-task{
    width: 65%;
    height: 100%;
    background-color: var(--bg-primary-color);
    border-radius: var(--border-radius-lg);
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: var(--padding-md);
}
.daily-all-task .task{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: var(--padding-md);
    background-color: var(--bg-active-color);
    border-radius: var(--border-radius-lg);
    margin-bottom: 10px;
}
.daily-all-task .task h2{
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--bg-primary-color);
}

.task-inner p{
    color: var(--bg-primary-color);
}
.daily-all-task .task button{
    padding: 10px 30px;
    border-radius: var(--border-radius-lg);
    background-color: var(--bg-secondary-color);
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    white-space: nowrap;
}
.daily-all-task .task button:hover{
    scale: 0.95;
}



/* *weather section */
.weather{
    height: 45vh;
    width: 100%;
    
    padding: 1rem 3rem;
}
.weather-container{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1614170385895-0ad8951679eb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNreSUyMGluJTIwbmlnaHR8ZW58MHx8MHx8fDA%3D");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
.weather-info{
    margin-top: 2rem;
    color: white;
    padding: 1rem 2rem;
    border-radius: var(--border-radius-lg);
}

.waether-daysnum{
    display: flex;
    gap: 20px;
    align-items: center;
}
.waether-daysnum h2{
    font-size: 5rem;
    color: white;
}
.waether-daysnum h1{
    font-size: 5rem;
    color: white;
}

.weater-timer p{
    font-size: 1.5rem;
    margin-top: 1rem;   
    color: white;
}

.weather-info p{
    font-size: 2rem;  
    color: white;
}
